*{
    margin: 0;
}
#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffdecb;
}
.textTop{
    color: #4d4d4d;
}
.material-icons-top{
    color: #4d4d4d;
}
.material-icons-top:hover{
    font-size: 30px;
    cursor: pointer;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFBF9B;
}
.category{
    border-radius: 20px 20px 20px 20px;
    background-color: #FFBF9B;
}
.category:hover{
    cursor: pointer;
    background-color:#ffdecb ;
}
.category:active{
    background-color:#ffdecb ;
}
#continuerProduct{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Product_description{
    display: flex;
    width: 700px;
}
.imageP{
    width: 350px;
    height: 400px;
}